*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
************** UTILITIES
*/

.containerScreen
{
	color: #8f8f8f;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.containerImg
{
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.title
{
	color: black;
	font-size: 21px;
	font-weight: 500;
}

.btn-small
{
	height: 45px;
	line-height: 45px;
	background-color: #fbd43b;
	margin: 0 auto;
}

.bg-image
{
	line-height: 20px;
	background-size: contain;
	background-position: 9px -2px;
	background-repeat: no-repeat;
	text-indent: 45px;
	height: auto !important;
}

form
{
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 218px; /*324px;*/
	width: 90%;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number]
{
	color: #49233b;
	font-size: 14px;
	font-weight: 400;
}

input[type=number]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly])
{
	border-bottom: 1px solid #fbd43b;
	box-shadow: none;
}

/*
* Style Pantalla 1
*/

.carousel-slider
{
	height: 330px !important;
}

.carousel .indicators .indicator-item
{
	background-color: #f8f8f8;
}

.carousel .indicators .indicator-item.active
{
	background-color: #f64552;
}

.btn-large
{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #fbd43b;
}

/*
* Style Pantalla 2
*/

.containerImg2
{
	margin: 0 auto;
	width: 120px;
	height: 120px;
}

a
{
	color:#00c3a3;
}

#user-phone
{
	background-image: url(../assets/img/icons/phoneandnumber.png);
	line-height: 26px;
	background-size: contain;
	background-position: 9px -2px;
	background-repeat: no-repeat;
	text-indent: 25%;
	height: auto !important;
}

/*
* Style Pantalla 3
*/

.contentCode
{
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 218px;
	width: 90%;
}

#user-code
{
	background-image: url(../assets/img/icons/lock.png);
	line-height: 26px;
	background-size: contain;
	background-position: 9px -1px;
	background-repeat: no-repeat;
	text-indent: 45px;
	height: auto!important;
}

.numberMorado
{
	color: #49233b;
	font-weight: 500;
}

.containerTime
{
	font-size: 12px;
	display: flex;
	/* justify-content: space-between; */
	flex-direction: row;
	align-items: center;
	/* margin: 0 auto; */
	font-weight: 100;
}

.time{
	width: 17px;
	margin: 0 2px;
}

/*
* Style Pantalla 4
*/

#user-name
{
	background-image: url(../assets/img/icons/user.png);
}

#user-email
{
	background-image: url(../assets/img/icons/message-gray.png);
}

#user-password
{
	background-image: url(../assets/img/icons/lock.png);
	margin-bottom: 0;
}

form#datos
{
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 324px;
	width: 90%;
}

/*
Style pantalla 5
 */
.containerSuccess{
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
}

.containerScreen2{
	width: 100%;
	/* background-color: yellow; */
	color: #49233b;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
}

.imgCheck{
	width: 124px;
}
/*
.imgSmall{
	width: 70px;
}
.activeInput{
	border-bottom: 1px solid yellow;
}
.contentInput{
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.center-box
{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.bg-gray{
	background: #4D4D59;
}

.bg-white{
	background-color: #fff;
	box-shadow: 0 10px 30px 0px #bbb;
	-webkit-box-shadow: 0 10px 30px 0px #bbb;
}
*/
