*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.containerScreen{
	color: #8f8f8f;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.carousel-slider {
	height: 330px !important;
}
.containerImg{
	margin: 0 auto;
	width: 150px;
	height: 150px;
}
.containerImg2{
	margin: 0 auto;
	width: 120px;
	height: 120px;
}
.carousel .indicators .indicator-item{
	background-color: #f8f8f8;
}
.carousel .indicators .indicator-item.active {
	background-color: #f64552;
}
.btn-large {
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #fbd43b;
}
.btn-small{
	width: 50%;
	height: 45px;
	line-height: 45px;
	background-color: #fbd43b;
	margin: 0 auto;
}
.containerScreen2{
	height:100vh;
}
.title{
	color: black;
	font-size: 21px;
	font-weight: 500;
}
.imgSmall{
	width: 70px;
}
.activeInput{
	border-bottom: 1px solid yellow;
}
.contentInput{
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

/*
** UTILITIES
*/
input[type=number]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]){
	border-bottom: 1px solid #fbd43b;
	box-shadow: none;
}
a{
	color:#00c3a3;
}

#user-name{

	background-image: url(../assets/img/icons/user.png);

}
#user-email{

	background-image: url(../assets/img/icons/message-gray.png);

}
#user-phone{
	background-image: url(../assets/img/icons/phoneandnumber.png);
	/* margin: 14px 0; */
	/* padding: 1px 0; */
	line-height: 26px;
	background-size: contain;
	/* width: 100%; */
	background-position: 9px -2px;
	background-repeat: no-repeat;
	text-indent: 25%;
	/* padding-left: 18px; */
	/* overflow: visible; */
	height: auto !important;

}
#user-code{
	background-image: url(../assets/img/icons/lock.png);
	/* margin: 14px 0; */
	/* padding: 1px 0; */
	line-height: 26px;
	background-size: contain;
	/* width: 100%; */
	background-position: 9px -1px;
	background-repeat: no-repeat;
	text-indent: 45px;
	/* padding-left: 18px; */
	/* overflow: visible; */
	height: auto!important;
	/* font-size: 18px; */
}
form{
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 218px;
	width: 90%;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number]
{
	color: #49233b;
	font-size: 16px;
	font-weight: 500;
}
.bg-image{
	/* margin: 14px 0; */
	/* padding: 1px 0; */
	line-height: 20px;
	background-size: contain;
	/* width: 100%; */

	background-position: 9px -2px;
	background-repeat: no-repeat;
	text-indent: 45px;
	/* padding-left: 18px; */
	/* overflow: visible; */
	height: auto !important;
}
#user-password{
	background-image: url(../assets/img/icons/lock.png);

}

.center-box
{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.bg-gray{
	background: #4D4D59;
}

.bg-white{
	background-color: #fff;
	box-shadow: 0 10px 30px 0px #bbb;
	-webkit-box-shadow: 0 10px 30px 0px #bbb;
}


.contentCode{
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	height: 218px;
	width: 90%;
}
.rojoBullet{
	color: #f64552;
}
.grisBullet{
	color: #f8f8f8;
}
.bg-btn{
	background-color: #fbd43b;
}
.grisDark{
	color: #212121;
}
.grisLetraSoft{
	color: #8f8f8f;
}
.terminosCondi{
	color: #00c3a3;
}
.entradaNumber{
	color: #49233b;
}
													/*Morado light : #451e36
													Morado dark : #38052a*/
